body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black; /* Cambiamos el color de fondo del body a negro */
}

canvas {
  border-radius: 10px;
  background-color: white; /* Cambiamos el color de fondo del lienzo a blanco */
}

input[type="text"] {
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #047e08;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
